body {
    margin: 0;
    font-family: Calibri, sans-serif;
    background-color: black;
    color: white;
}

div {
    padding: 10 px;
}

/**
.timekey {
    background-color: cyan;
}

.week {
    display: flex;
    flex-direction: row;
}

.box {
    width: 200 px;
    height: 100 px;
    border: 1px solid white;
}
**/

.quarter {
    border: 1px solid white;
    width: 200px;
    height: 100px;
    margin: 5%;
}