body {
    background-color: black;
    color: white;
}

.weekContainer {
    display: flex;
    width: 1000px;
    height: 800 px;
    background: purple;
}

.day {
    width: 100 px; 
    height: 700 px; 
    background: cyan;
}
.quarter{
    width: 100px; 
    height: 20 px;
    color: white;
}